@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --ff-primary: "Nunito Sans", sans-serif;
  --ff-secondary: "Bai Jamjuree", sans-serif;
  --ff-tertiary: "Barlow Semi Condensed", sans-serif;
  --ff-forth: "Lato", sans-serif;
  --ff-fifth: "Poppins", sans-serif;

  --color-primary: hsl(14, 100%, 53%);
  --color-primary-variant: hsl(14, 100%, 67%);
  --color-fxLigthBlue: hsl(189, 64%, 53%);
}
/* .nav_socials {
  background: linear-gradient(
    180deg,
    var(--color-primary),
    var(--color-primary-variant)
  );
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-style: none;
  border-color: transparent;
}
.nav_socials {
  /* background: linear-gradient(180deg, hsl(194, 23%, 60%), hsl(194, 23%, 77%)); */
  /* background: linear-gradient(180deg, hsl(191, 23%, 85%), hsl(191, 23%, 92%)); */
  /* border: 1px solid hsla(193, 15%, 30%, 0.25); */
  border: 1px solid hsla(193, 15%, 30%, 0.5);
  /* background-color: hsl(191, 23%, 91%); */
  /* background-color: hsl(252, 35%, 19%); */
  /* background-color: hsl(54, 23%, 60%); */
  /* background-color: hsl(193, 15%, 12%); */
  background-color: hsl(192, 22%, 51%);
  /* background-color: hsl(193, 15%, 30%); */
  /* background-color: hsl(193, 22%, 84%); */
  /* background-color: hsl(192, 24%, 96%); */
}

.nav_socials:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: all;
  transition-duration: 0.7s;
  color: white;
}

.nav_socials:hover i {
  color: white;
}

.btn {
  transition: var(--transition);
  padding: 20px 30px;
  border-radius: 10px;
  font-size: var(--normal-font-size);
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: var(--font-semibold);
  letter-spacing: 1px;
}

.btn:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.btn-primary {
  padding: 7px 25px;
  background-color: var(--color-fxLigthBlue);
  color: var(--color-bg-1);
}

.btn-secondary {
  padding: 7px 25px;
  border-width: 0.13rem;
  border-style: solid;
  border-image: radial-gradient(
      var(--color-primary),
      var(--color-primary-gradient)
    )
    1;

  background: var(--color-primary-gradient);
  color: var(--color-bg-1);
}

.btn-secondary:hover,
.btn-primary:hover {
  color: var(--color-bg-1);
}

.btn-outline {
  /* border: 0.13rem solid var(--color-primary); */
  border-width: 0.13rem;
  border-style: solid;
  border-image: radial-gradient(
      var(--color-primary),
      var(--color-primary-gradient)
    )
    1;
  background-color: transparent;
}
.btn-outline:hover {
  color: var(--color-bg-1);
  background: var(--color-primary-gradient);
}

body {
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  /* color: #212529; */
  /* background-color: #fff; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 2rem 0;
  color: #adb5bd;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.img_cv_head {
  margin: 0 auto;
}

.word-spacing {
  word-spacing: 1px;
}

/* Section Title */
.section-title-01 {
  /* font-size: 4.5rem; */
  font-weight: 700;
  margin-bottom: 2rem;
  /* background: linear-gradient(to top, transparent 0%, hsl(198, 28%, 25%) 50%); */
  background: linear-gradient(to top, transparent 0%, hsl(215, 91%, 25%) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.15;
}

.section-title-02 {
  font-size: 2.5rem;
  font-weight: 700;
  transform: translateY(-62px);
}
.section-title-02::before {
  content: "";
  position: absolute;
  /* width: 60px; */
  height: 5px;
  /* right: 0; */
  /* left: -10; */
  bottom: -0.65rem;
  /* background-color: hsl(158, 100%, 33%); */
  /* background-color: hsl(215, 91%, 50%); */
  background-color: hsl(167, 92%, 29%);
  /* background-color: hsl(198, 76%, 47%); */
  /* color: rgb(17, 146, 238); */
  /* color: hsl(0, 0%, 39%); */
}

/* Nav class on scroll */
.window-scrolled {
  /* background: hsl(150, 9%, 85%); */
  /* background: hsla(191, 23%, 91%, 0.95) !important; */
  border-bottom: 0.1rem solid hsl(0, 0%, 80%);
  /* box-shadow: 0 0.2rem 0.2rem hsla(0, 0%, 0%, 0.3); */
  /* box-shadow: 0 4px 15px 0 rgba(13, 90, 191, 0.08), */
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

/* .css-1m3z3gb {
  width: 100%;
  margin-inline: auto;
  max-width: 100%;
  padding-inline-start: var(--chakra-space-space-24);
  padding-inline-end: var(--chakra-space-space-24);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--chakra-colors-white);
  position: sticky;
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  box-shadow: var(--chakra-shadows-sm-light);
  top: 0px;
  z-index: var(--chakra-zIndices-navbar);
} */

/* Colors for svg gradient */
.color1 {
  stop-color: hsl(198, 76%, 47%);
}
.color2 {
  stop-color: hsl(198, 76%, 55%);
}
.color3 {
  stop-color: hsl(198, 76%, 60%);
}
.color4 {
  stop-color: hsl(198, 76%, 65%);
}
.color5 {
  stop-color: hsl(198, 76%, 70%);
}
.color6 {
  stop-color: hsl(198, 76%, 75%);
}

.logo1 {
  fill: url(#g1);
}
.logo2 {
  fill: url(#g2);
}

.logo3 {
  fill: url(#g3);
}
.color10 {
  stop-color: hsl(14, 100%, 57%);
}
.color11 {
  stop-color: hsl(14, 100%, 65%);
}
.color12 {
  stop-color: hsl(14, 100%, 70%);
}
.color13 {
  stop-color: hsl(14, 100%, 75%);
}
.color14 {
  stop-color: hsl(14, 100%, 80%);
}
.color15 {
  stop-color: hsl(14, 100%, 85%);
}

.logo4 {
  fill: url(#g4);
}

/* .color20 {
  stop-color: hsl(192, 22%, 87%);
}
.color21 {
  stop-color: hsl(192, 22%, 91%);
}
.color22 {
  stop-color: hsl(192, 22%, 95%);
}
.color23 {
  stop-color: hsl(192, 22%, 98%);
}
.color24 {
  stop-color: hsl(192, 22%, 110%);
} */
/* hsl(192, 22%, 51%) */
.color20 {
  stop-color: hsl(192, 22%, 51%);
}
.color21 {
  stop-color: hsl(192, 22%, 55%);
}
.color22 {
  stop-color: hsl(192, 22%, 65%);
}
.color23 {
  stop-color: hsl(192, 22%, 75%);
}
.color24 {
  stop-color: hsl(192, 22%, 85%);
}

.perso-colors {
  /* Bg Blue 1 */
  color: hsl(192, 24%, 96%);
  /* color text dark */
  color: hsl(252, 35%, 19%);
  /* Gray Text */

  color: hsl(180, 1%, 79%);
  /* Color Dark Gray */
  /* color: hsl(193, 24%, 81%); */
  /* color: hsl(193, 25%, 86%); */
  color: hsl(191, 23%, 91%);

  color: hsl(193, 22%, 84%);
  color: hsl(192, 22%, 91%);

  /* text colors */
  color: hsl(193, 23%, 60%);
  color: hsl(193, 23%, 65%);
  color: hsl(193, 23%, 70%);
  color: hsl(193, 23%, 75%);
  color: hsl(193, 23%, 80%);

  color: rgb(65, 83, 88);

  color: hsl(180, 10%, 92%);
  color: hsl(192, 22%, 91%);
  color: rgb(255, 87, 36);
  color: hsl(193, 15%, 30%);
  color: hsl(194, 23%, 60%);
  color: hsl(193, 15%, 12%);
  color: hsl(216, 17%, 12%);

  /* Green color */
  color: hsl(158, 100%, 33%);
  color: #00a86b;
  color: hsl(208, 34%, 20%);

  /* color: hsl(240, 10%, 4%); */
  /* TEXT COLOR 1 */
  color: hsl(240, 10%, 4%);
  /* TEXT COLOR 2 */
  color: hsl(0, 0%, 25%);
  /* TEXT COLOR 3 */
  color: hsl(0, 0%, 35%);

  /* GRAY COLOR */
  color: hsl(0, 0%, 60%);

  /* Paragraph color */
  color: hsl(0, 0%, 25%);

  color: hsl(240, 10%, 4%);

  /* Title Color */
  color: hsl(90, 10%, 4%);

  /* Blue color to fill */
  color: hsl(198, 76%, 47%);
  /* .fill-blue {
    background: #1d9ad1;
    
} */
  color: hsl(208, 28%, 78%);
  color: hsl(211, 28%, 44%);
  color: hsl(0, 0%, 25%);
  /* Blue Text */
  color: hsl(198, 76%, 47%);
  /* Logo Color */
  color: hsl(198, 76%, 47%);

  /* background color */
  color: white;

  /* DarkBackgroundGray */
  color: hsl(0, 0%, 98%);

  /* Dark Icon color: ; */
  color: hsl(0, 0%, 60%);

  /* footer Link color */
  color: hsl(60, 0%, 42%);

  /* Link Text Title */
  color: hsl(240, 10%, 4%);

  /* color logo footer */
  color: hsl(0, 0%, 39%);

  color: #237b7b7b;

  /* line value */
  color: hsl(0, 0%, 85%);

  color: hsl(0, 0%, 98%);
  color: hsl(146, 50%, 81%);

  /* hr {
    background: #d8d8d8;
    height: 0.125rem;
    width: 100%;
    border: 0;
    margin: 1.5625rem 0;
} */

  /* border-radius: 100%!important;
    margin-bottom: 15px!important; */

  /* LOGO Color And properties */
  /* background-color: #b7b7b7 */

  /* Filter color */
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
  /* height: 24px;
  width: 24px; */

  /* square box linear -color */
  /* .hero-blocks.-blue-blocks .hero-blocks-right-blocks-stripes {
    margin-left: -40px;
    margin-top: -80px;
    width: 10.3125rem;
    height: 10.3125rem;
    background: repeating-linear-gradient(-45deg,#1D9AD1,#FFFFFF 2px,#FFFFFF 13px,#1D9AD1 13px);
    opacity: .5;
    transition: all .25s ease;
} */
  /* White box shadow */
  /* .cta-shadow {
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 20%);
    transition: box-shadow 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  } */
}

/* section-rich-text
  .addthis_inline_share_toolbox
  .at-share-btn-elements
  .at-share-btn {
  height: 24px;
  width: 24px;
  background-color: #b7b7b7 !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
} */

.home_hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
  color: hsl(0, 0%, 25%);
}

.home-subtitle {
  font-style: normal;
  font-weight: 600;
  /* font-size: 12px; */
  line-height: 24px;
  letter-spacing: 5.5px;
  text-transform: uppercase;
  padding-left: 32px;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;

  /* position: relative;
  padding-left: 5.4rem;
  margin-bottom: 1rem; */
}
.home-subtitle::before {
  content: "";
}

.above-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  padding-left: 32px;
  position: relative;
  /* color: hsl(0, 0%, 42%); */
  /* color: var(--cinder-light); */
  display: inline-block;
}

.above-title:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 16px;
  height: 2px;
  /* background: hsl(0, 0%, 42%); */
  /* background: hsl(0, 0%, 62%); */
  background: hsl(192, 22%, 51%);
  /* color: #068e71; */
  color: hsl(220, 54%, 20%);
  color: hsl(220, 30%, 39%);
  color: hsl(215, 91%, 50%);
  color: hsl(210, 75%, 97%);
  color: #0b6cf4;
  color: #ecfdf9;
  color: #ecfdf9;
  color: #e2f0fd;
  color: #e2f0fd;
  color: hsl(210, 100%, 91%);
  color: #465a81;
  color: hsl(221, 25%, 60%);
  color: hsl(214, 32%, 91%);
  color: hsl(214, 87%, 40%);
  color: hsl(205, 100%, 94%);
  color: hsl(214, 94%, 43%);
}
