@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --ff-primary: "Nunito Sans", sans-serif;
  --ff-secondary: "Bai Jamjuree", sans-serif;
  --ff-tertiary: "Barlow Semi Condensed", sans-serif;
  --ff-forth: "Lato", sans-serif;
  --ff-fifth: "Poppins", sans-serif;

  --color-primary: hsl(14, 100%, 53%);
  --color-primary-variant: hsl(14, 100%, 67%);
  --color-fxLigthBlue: hsl(189, 64%, 53%);
}
/* .nav_socials {
  background: linear-gradient(
    180deg,
    var(--color-primary),
    var(--color-primary-variant)
  );
} */
.nav_socials {
  /* background: linear-gradient(180deg, hsl(194, 23%, 60%), hsl(194, 23%, 77%)); */
  /* background: linear-gradient(180deg, hsl(191, 23%, 85%), hsl(191, 23%, 92%)); */
  /* border: 1px solid hsla(193, 15%, 30%, 0.25); */
  border: 1px solid hsla(193, 15%, 30%, 0.5);
  /* background-color: hsl(191, 23%, 91%); */
  /* background-color: hsl(252, 35%, 19%); */
  /* background-color: hsl(54, 23%, 60%); */
  /* background-color: hsl(193, 15%, 12%); */
  background-color: hsl(192, 22%, 51%);
  /* background-color: hsl(193, 15%, 30%); */
  /* background-color: hsl(193, 22%, 84%); */
  /* background-color: hsl(192, 24%, 96%); */
}

.nav_socials:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: all;
  transition-duration: 0.7s;
  color: white;
}

.nav_socials:hover i {
  color: white;
}

.btn {
  transition: var(--transition);
  padding: 20px 30px;
  border-radius: 10px;
  font-size: var(--normal-font-size);
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: var(--font-semibold);
  letter-spacing: 1px;
}

.btn:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
.btn-primary {
  padding: 7px 25px;
  background-color: var(--color-fxLigthBlue);
  color: var(--color-bg-1);
}

.btn-secondary {
  padding: 7px 25px;
  border-width: 0.13rem;
  border-style: solid;
  border-image: radial-gradient(
      var(--color-primary),
      var(--color-primary-gradient)
    )
    1;

  background: var(--color-primary-gradient);
  color: var(--color-bg-1);
}

.btn-secondary:hover,
.btn-primary:hover {
  color: var(--color-bg-1);
}

.btn-outline {
  /* border: 0.13rem solid var(--color-primary); */
  border-width: 0.13rem;
  border-style: solid;
  border-image: radial-gradient(
      var(--color-primary),
      var(--color-primary-gradient)
    )
    1;
  background-color: transparent;
}
.btn-outline:hover {
  color: var(--color-bg-1);
  background: var(--color-primary-gradient);
}

body {
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  /* color: #212529; */
  /* background-color: #fff; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 2rem 0;
  color: #adb5bd;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.img_cv_head {
  margin: 0 auto;
}

.word-spacing {
  word-spacing: 1px;
}

.btn-hover:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  /* color: rgb(58, 189, 212); */
  /* color: hsl(220, 6%, 91%); */
  /* fxBgBody: "hsl(0, 0%, 96%)", */
  /* hsl(220, 6%, 90%) */
  color: rgb(45, 161, 210);
  /* color: hsl(210, 22%, 96%); */
}

/* Section Title */
.section-title-01 {
  /* font-size: 4.5rem; */
  font-weight: 700;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, hsl(198, 28%, 25%) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.section-title-02 {
  font-size: 2.5rem;
  font-weight: 700;
  transform: translateY(-62px);
}
.section-title-02::before {
  content: "";
  position: absolute;
  /* width: 60px; */
  height: 5px;
  /* right: 0; */
  /* left: -10; */
  bottom: -0.65rem;
  background-color: hsl(14, 100%, 57%);
  /* color: rgb(17, 146, 238); */
  color: hsl(200, 65%, 48%);
}

/* Nav class on scroll */
.window-scrolled {
  /* background: hsl(150, 9%, 85%); */
  /* background: hsla(191, 23%, 91%, 0.95) !important; */
  border-bottom: 0.1rem solid hsl(0, 0%, 80%);
  box-shadow: 0 0.2rem 0.2rem hsla(0, 0%, 0%, 0.3);
}

/* Colors for svg gradient */
.color1 {
  stop-color: hsl(200, 65%, 50%);
}
.color2 {
  stop-color: hsl(200, 65%, 55%);
}
.color3 {
  stop-color: hsl(200, 65%, 60%);
}
.color4 {
  stop-color: hsl(200, 65%, 65%);
}
.color5 {
  stop-color: hsl(200, 65%, 70%);
}
.color6 {
  stop-color: hsl(200, 65%, 80%);
}

.logo1 {
  fill: url(#g1);
}
.logo2 {
  fill: url(#g2);
}

.logo3 {
  fill: url(#g3);
}
.color10 {
  stop-color: hsl(14, 100%, 57%);
}
.color11 {
  stop-color: hsl(14, 100%, 65%);
}
.color12 {
  stop-color: hsl(14, 100%, 70%);
}
.color13 {
  stop-color: hsl(14, 100%, 75%);
}
.color14 {
  stop-color: hsl(14, 100%, 80%);
}
.color15 {
  stop-color: hsl(14, 100%, 85%);
}

.logo4 {
  fill: url(#g4);
}

/* .color20 {
  stop-color: hsl(192, 22%, 87%);
}
.color21 {
  stop-color: hsl(192, 22%, 91%);
}
.color22 {
  stop-color: hsl(192, 22%, 95%);
}
.color23 {
  stop-color: hsl(192, 22%, 98%);
}
.color24 {
  stop-color: hsl(192, 22%, 110%);
} */
/* hsl(192, 22%, 51%) */
.color20 {
  stop-color: hsl(192, 22%, 51%);
}
.color21 {
  stop-color: hsl(192, 22%, 55%);
}
.color22 {
  stop-color: hsl(192, 22%, 65%);
}
.color23 {
  stop-color: hsl(192, 22%, 75%);
}
.color24 {
  stop-color: hsl(192, 22%, 85%);
}

.perso-colors {
  /* Bg Blue 1 */
  color: hsl(192, 24%, 96%);
  /* color text dark */
  color: hsl(252, 35%, 19%);
  /* Gray Text */

  color: hsl(180, 1%, 79%);
  /* Color Dark Gray */
  /* color: hsl(193, 24%, 81%); */
  /* color: hsl(193, 25%, 86%); */
  color: hsl(191, 23%, 91%);

  color: hsl(193, 22%, 84%);
  color: hsl(192, 22%, 91%);

  /* text colors */
  color: hsl(193, 23%, 60%);
  color: hsl(193, 23%, 65%);
  color: hsl(193, 23%, 70%);
  color: hsl(193, 23%, 75%);
  color: hsl(193, 23%, 80%);

  color: rgb(65, 83, 88);

  color: hsl(180, 10%, 92%);
  color: hsl(192, 22%, 91%);
  color: rgb(255, 87, 36);
  color: hsl(193, 15%, 30%);
  color: hsl(194, 23%, 60%);
  color: hsl(193, 15%, 12%);
  color: hsl(216, 17%, 12%);
}

.home_hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
}

.home-subtitle {
  font-style: normal;
  font-weight: 600;
  /* font-size: 12px; */
  line-height: 24px;
  letter-spacing: 5.5px;
  text-transform: uppercase;
  padding-left: 32px;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;

  /* position: relative;
  padding-left: 5.4rem;
  margin-bottom: 1rem; */
}
.home-subtitle::before {
  content: "";
}

.above-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  padding-left: 32px;
  position: relative;
  /* color: hsl(0, 0%, 42%); */
  /* color: var(--cinder-light); */
  display: inline-block;
}

.above-title:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 16px;
  height: 2px;
  /* background: hsl(0, 0%, 42%); */
  /* background: hsl(0, 0%, 62%); */
  background: hsl(192, 22%, 51%);
}
